WCF Service with NetNamedPipeBindings/Northwind Services/NorthwindServices/NorthwindApp/Service References/CustomerServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ICustomer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomer_GetCustomerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerName" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerCount" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerCountResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomer">
    <wsdl:operation name="GetCustomerName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetCustomerName" message="tns:ICustomer_GetCustomerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetCustomerNameResponse" message="tns:ICustomer_GetCustomerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetCustomerCount" message="tns:ICustomer_GetCustomerCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetCustomerCountResponse" message="tns:ICustomer_GetCustomerCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ICustomer" type="tns:ICustomer">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ICustomer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetCustomerName">
      <soap12:operation soapAction="http://tempuri.org/ICustomer/GetCustomerName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCount">
      <soap12:operation soapAction="http://tempuri.org/ICustomer/GetCustomerCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="NetNamedPipeBinding_ICustomer" binding="tns:NetNamedPipeBinding_ICustomer">
      <soap12:address location="net.pipe://localhost/NorthwindServices/CustomerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/NorthwindServices/CustomerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/CORPNQE8503A.hca.corpad.net</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>